[Unit]
Description=Gunicorn instance to serve flaskapp
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/projects/flask-shamaev/
Environment="PATH=/root/projects/flask-shamaev/venv/bin"
ExecStart=/root/projects/flask-shamaev/venv/bin/gunicorn --workers 3 --bind unix:flaskapp.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target